body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
header{
    border-bottom: 1px solid #D0D0D0;
}
.container{
    width:1440px;
    margin:0px auto;
}
.head{
    display: flex;
}
.logo{
    margin: 11px 0px 17px 100px;
}
.rectangle{
    width: 1px;
    height: 40px;
    background-color: #E2E2E2;;
    margin: 31px 0px 29px 27px;
}
.header_lang{
    margin: 28px 0px 26px 27px;
    font-family: 'Roboto', sans-serif;
}
.lang_ru{
    background-color: #4AD295;
    color:white;
    padding: 1px 5px;
    border-radius: 2px;
}
.lang_ua{
    margin-left:5px;
}
.header_money{
    margin: 31px 0px 26px 25px;
    font-family: 'Roboto', sans-serif;
}
.header_link{
    margin: 37px 0px 38px 25px;
}
.header_link a:last-child{
    display: inline-block;
    margin-left: 5px;

}
.header_tele{
    margin: 31px 0px 26px 25px;
}
.tele_img{
    margin: 23px 0px 26px 7px;
}
.header_input{
    height:55px;
    width:240px;
    margin: 23px 0px 26px 25px;
    display: flex;
    align-items: center;

}
.header_input2{
    height:55px;
    width:220px;
    margin: 23px 0px 26px 25px;
    display: flex;
    align-items: center;

}
.input_text{
    background-color: #EFF3F6;
    padding: 15px;
    margin: 17px 0px 18px 20px;
    text-transform: uppercase;
}
.input_logo{
    display: block;
    padding: 15px;
    background-color: #DD4053;
}
.input_text2{
    background-color: #EFF3F6;
    padding: 15px;
    margin: 17px 0px 18px 20px;
    text-transform: uppercase;
}
.input_logo2{
    display: block;
    padding: 15px;
    background-color: #4AD295;
}
.subhead{
    display: flex;
}
.subheader_text{
    padding-top: 0px;
    font-size: 15px;
}
.subheader_logo{
    margin: 29px 0px 24px 174px;

}
.subheader_link{
    margin: 27px 0px 23px 55px;
    display: flex;
}
.subheader_polygon{
    display: block;
    margin-left: 8px;
    padding-top: 5px;
    width: 6px;
    height: 6px;
}
.main{
    position: relative;
    width: 1440px;
    height: 490px;
    background-image: url("../image/maxresdefault\ \(1\)\ 2.svg");
}
.main_back{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
    width: 1440px;
    height: 490px;
}
.main_info{
    width: 700px;
    height:330px;
    display: flex;
    flex-direction: column;
    margin: 105px 0px 60px 200px;
}
.main_label{
    padding: 7px 22px;
    width: 250px;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 16px;
    font-size: 24px;
}
.main_text{
    font-size: 45px;
    color: white;
    text-transform: uppercase;
}